.wrapper_container {
    width: 100%;
    max-width: 100%;
    /* overflow-x: hidden; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.login_pg_wrapper {
    position: relative;
    background: transparent;
    padding: 15px 130px;
    list-style-type: none;
    box-sizing: border-box;
    overflow: hidden;
}
@media screen and (max-width:1400px) {
    .login_pg_wrapper {
        padding: 15px 50px;
    }

}
@media screen and (max-width:800px) {
    .login_pg_wrapper {
        padding: 15px 10px;
    }
}
.login_pg_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login_create_account a {
    padding: 14px 40px;
    text-decoration: none;
    background: #1E3A8A;
    color: white;
    border-radius: 6px;
    font-size: 16px;
    transition: .2s;
}
.login_create_account a:hover {
    background: #2240AF;
}
.login_form_wrapper {
    padding: 4em;
    width: 40em;
    max-width: 95%;
    background-color: white;
    margin: 0 auto;
    margin-top: 8em;
}
.login_form_wrapper form {
    width: 100%;
    /* border: 2px solid blue; */
}
.login_form_wrapper h4 {
    font-size: 25px;
    color: #111;
    margin-bottom: 40px;
}
.login_form_wrapper .user_box {
    width: 100%;
    height: max-content;
}
.login_form_wrapper .user_box input {
    padding: 13px;
    border: 1px solid #ccc;
    border-radius: 6px;
    display: block;
    width: 100%;
    font-size: 16px;
    outline: none;
    margin-bottom: 30px;
}
.login_form_wrapper .user_box:nth-of-type(2) input {
    background: #2240AF;
    color: white;
    font-size: 16px;
}
.login_form_wrapper .user_box:nth-of-type(2) input:hover {
    background: #1E3A8A;
}
.login_form_wrapper p a {
    color: #2240AF;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    padding: 10px;
}
.login_footer_terms {
    margin-top: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10em;
    font-size: 17px;
    text-align: center;
}
@media screen and (max-width: 700px) {
    .login_logo img {
        width: 200px;
    }
    .login_create_account a {
        padding: 13px 20px ;
    }
    .login_form_wrapper {
        padding: 4em 1.3em;
    }
    .login_footer_terms {
        gap: 1.5em;
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media screen and (max-width: 500px) {
    .login_form_wrapper .user_box input {
        padding: 13px;
    }
}
@media screen and (max-width: 400px) {
    .login_pg_nav {
        gap: 2em;
    }
    .login_logo img {
        width: 150px;
    }
    .login_create_account a {
        padding: 10px 20px ;
        font-size: 14px;
        white-space: nowrap;
    }
}